{% extends 'base.html' %}

{% block age %}
<h1>{% block title %} Create a new Laptop {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" class="form-control"
            value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <textarea name="brand" placeholder="Brand" class="form-control">{{ request.form['brand'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="oldPrice">Old Price</label>
        <textarea name="oldPrice" placeholder="Old Price" class="form-control">{{ request.form['oldPrice'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="newPrice">New Price</label>
        <textarea name="newPrice" placeholder="New Price" class="form-control">{{ request.form['newPrice'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="percentDiscount">Percent Discount</label>
        <textarea name="percentDiscount" placeholder="Percent Discount"
            class="form-control">{{ request.form['percentDiscount'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="bestSeller">Best Seller</label>
        <textarea name="bestSeller" placeholder="Best Seller"
            class="form-control">{{ request.form['bestSeller'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="New laptop has been created!">Submit</button>
    </div>
</form>
{% endblock %}